@import "../styles/authentik/components/Login/login.css";

:host {
    display: flex;
    min-height: 100dvh;
    flex-flow: column nowrap;
}

.inspector-toggle {
    position: absolute;
    inset-inline-end: var(--pf-global--spacer--md);
    inset-block-start: var(--pf-global--spacer--md);
    z-index: 100;
}

/* locale-links styling is self-contained in the component */
